
@font-face {
  font-family: 'iconfont';  /* project id 539120 */
  src: url('//at.alicdn.com/t/font_539120_dtedkdwb9bkgwrk9.eot');
  src: url('//at.alicdn.com/t/font_539120_dtedkdwb9bkgwrk9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_539120_dtedkdwb9bkgwrk9.woff') format('woff'),
  url('//at.alicdn.com/t/font_539120_dtedkdwb9bkgwrk9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_539120_dtedkdwb9bkgwrk9.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

