.title
  position: relative
  line-height: .86rem
  text-align: center
  font-size: .34rem
  color: #333
  border-color: #f0f0f0
  .icon
    position: absolute
    diaplay: inline-block
    height: .4rem
    width: .62rem
    left: 0
    top: 0


